
.idea/

*.iml

target/

chat/lib/bayeux-api-2.4.0.RC1.jar

chat/lib/bayeux-api-2.4.1.jar

chat/lib/cometd-java-annotations-2.4.1.jar

chat/lib/cometd-java-client-2.4.1.jar

chat/lib/cometd-java-common-2.4.1.jar

chat/lib/cometd-java-oort-2.4.1.jar

chat/lib/cometd-java-server-2.4.1.jar

chat/lib/cometd-websocket-jetty-2.4.1.jar

chat/lib/jackson-core-asl-1.8.5.jar

chat/lib/jackson-mapper-asl-1.8.5.jar

chat/lib/javax.inject-1.jar

chat/lib/jetty-client-8.1.0.v20120127.jar

chat/lib/jetty-continuation-8.1.0.v20120127.jar

chat/lib/jetty-http-8.1.0.v20120127.jar

chat/lib/jetty-io-8.1.0.v20120127.jar

chat/lib/jetty-jmx-8.1.0.v20120127.jar

chat/lib/jetty-servlets-8.1.0.v20120127.jar

chat/lib/jetty-util-8.1.0.v20120127.jar
