<plugin name='cometd' version='0.2.4' grailsVersion='2.1.0 &gt; *'>
  <author>Marcus Better</author>
  <authorEmail>marcus@better.se</authorEmail>
  <title>Ajax push support using CometD</title>
  <description>CometD is a scalable HTTP-based event routing bus that uses a Ajax Push technology pattern known as Comet.
This plugin allows your Grails application to send asynchronous notifications to HTTP clients using
CometD and the Bayeux protocol.
    </description>
  <documentation>http://www.grails.org/plugin/cometd</documentation>
  <type>CometdGrailsPlugin</type>
  <resources>
    <resource>CometDPluginResources</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://download.java.net/maven/2/' url='http://download.java.net/maven/2/' />
    <repository name='http://grails.org/plugins' url='http://grails.org/plugins' />
    <repository name='http://snapshots.repository.codehaus.org' url='http://snapshots.repository.codehaus.org/' />
    <repository name='http://repository.codehaus.org' url='http://repository.codehaus.org/' />
    <repository name='http://repository.jboss.com/maven2/' url='http://repository.jboss.com/maven2/' />
  </repositories>
  <dependencies />
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='jquery-ui' version='1.8.7' />
      <plugin group='org.grails.plugins' name='cache' version='1.0.0' />
      <plugin group='org.grails.plugins' name='spring-security-ui' version='0.2' />
      <plugin group='org.grails.plugins' name='mail' version='1.0' />
      <plugin group='org.grails.plugins' name='famfamfam' version='1.0' />
      <plugin group='org.grails.plugins' name='jslint' version='0.5' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='jquery' version='1.7.2' />
      <plugin group='org.grails.plugins' name='resources' version='1.1.6' />
      <plugin group='org.grails.plugins' name='hibernate' version='2.1.0' />
      <plugin group='org.grails.plugins' name='database-migration' version='1.1' />
      <plugin group='org.grails.plugins' name='spring-security-core' version='1.2.3' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.1.0' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>